* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

header{
width:100%;
background-color: #344aba;
display: flex;
justify-content: space-around;
align-items: center;
padding: 25px 0;
}

/* .logo-imagem{

} */
.container-logo{
  display: flex;
  align-items: center;
}
.logo-texto{
 margin: 8px; 
}
.menu ul a{
  font-size: 15px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
  padding: 10px 10px;
  background-color: white;
  border-radius: 20px;
  }
.corpo h2{
   text-align: center;
}

footer{
  background-color:#344aba ;

}
.lista-serviços{
  text-align: center;
}